.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2%;
  margin-top: 5%;
}

.button {
  border: 2px solid rgb(255, 255, 88);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 1.5em;
  transition: 0.3s;
  user-select: none;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background: rgb(255, 255, 88);
}