.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2%;
  grid-gap: 75px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(255, 255, 88);
  border-radius: 5%;
  padding: 1.5em;
  background: rgba(255, 255, 255, 0.3);
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.set-quantity {
  cursor: pointer;
  user-select: none;
  margin: 5px;
}

.proceed-button {
  margin-top: 2%;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}