.get-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  height: 50%;
}

.user-input {
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid rgb(236, 252, 66);
  padding: .5em;
  border-radius: 2%;
}