.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(255, 255, 88);
  padding: 1%;
  display: flex;
  align-items: center;
}

.navbar > img {
  width: 30px;
  margin-left: 1%;
}

.navbar > span {
  margin-left: 1%;
  font-family: Chubby;
  font-size: 1.5em;
  user-select: none;
}

@font-face {
  font-family: Chubby;
  src: url("../fonts/Chubby.ttf");
}
