.purchase-list {
  height: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 5%;
  grid-gap: 25px;
  overflow-y: scroll;
}

.purchase {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 5%;
  padding: .25em;
  font-size: .75em;
  position: relative;
  border: 2px solid rgb(255, 255, 88);
  background: rgba(255, 255, 255, 0.3);
}

.spacer {
  width: 200px;
  height: 25px;
  margin-right:0px;
}

.date {
  position: absolute;
  bottom: 0;
}